<h2>{{name}}</h2>
<h3>Treatments</h3>
<div class="clearfix">
    
    <ul class="tabs">
        {{#each treatments}}
            <li>
                <a href="#{{@key}}">
                    {{log @index}}
                    {{display_name}}
                </a>
            </li>
        {{/each}}
    </ul>
    
    <div class="tabs-contents">
        {{#each treatments}}
            <div class="tab-content" id="{{@key}}">
                {{description}}
            </div>
        {{/each}}
    </div>
</div>